<%- include ('partials/header.ejs'); %> 

<body>

    <div class="container">

        <div class="card" id="form-quest">

            <div class="card-header">
                <h3>What's your question?</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/saving"> 

                    <label>Title</label>
                    <input type="text" placeholder="Title" class="form-control" name="title">
                    <br>
                    <label>Question</label>
                    <textarea placeholder="Write your question here" class="form-control" name="description"></textarea>
                    <br>
                    <button class="btn btn-danger">Send</button>

                </form>
            </div>

        </div>

    </div>
 
</body>

<%- include ('partials/footer.ejs') %> 